In [1]:
import pandas as pd

In [ ]:
# the yelp file did not not load
# the michlin data comes from https://www.kaggle.com/datasets/ngshiheng/michelin-guide-restaurants-2021

In [38]:
# michelin_df contains all the restaurands that are in the United States
df = pd.read_csv('/Users/Pam/Downloads/michelin_my_maps.csv')
michelin_df = df.loc[df['Address'].str.contains('United States')]
michelin_df.head()

,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award
77,The French Laundry,"6640 Washington St., Yountville, 94599, United...",Yountville,350,450,USD,"Contemporary, French",-122.364740,38.404430,1.707944e+10,https://guide.michelin.com/en/california/yount...,https://www.thomaskeller.com/tfl,3 MICHELIN Stars
78,SingleThread,"131 North St., Healdsburg, 95448, United States",Healdsburg,375,375,USD,"Contemporary, Californian",-122.869723,38.612260,1.707723e+10,https://guide.michelin.com/en/california/heald...,https://www.singlethreadfarms.com/,3 MICHELIN Stars
79,Manresa,"320 Village Ln., Los Gatos, 95030, United States",Los Gatos,325,325,USD,"Contemporary, Californian",-121.980710,37.227610,1.408354e+10,https://guide.michelin.com/en/california/los-g...,https://www.manresarestaurant.com/,3 MICHELIN Stars
80,Atelier Crenn,"3127 Fillmore St., San Francisco, 94123, Unite...",San Francisco,298,298,USD,"Contemporary, French",-122.435860,37.798350,1.415440e+10,https://guide.michelin.com/en/california/san-f...,https://www.ateliercrenn.com/,3 MICHELIN Stars
81,Benu,"22 Hawthorne St., San Francisco, 94105, United...",San Francisco,350,350,USD,"Asian, Contemporary",-122.399060,37.785376,1.415685e+10,https://guide.michelin.com/en/california/san-f...,https://www.benusf.com/,3 MICHELIN Stars

In [52]:
# seperating the addresses because it may come in handy
address_df = michelin_df['Address'].str.split(',', expand=True)
address_df.columns = ['Street', 'City', 'Zip', 'Country', 'Other']
address_df.head(60)

,Street,City,Zip,Country,Other
77,6640 Washington St.,Yountville,94599,United States,None
78,131 North St.,Healdsburg,95448,United States,None
79,320 Village Ln.,Los Gatos,95030,United States,None
80,3127 Fillmore St.,San Francisco,94123,United States,None
81,22 Hawthorne St.,San Francisco,94105,United States,None
82,470 Pacific Ave.,San Francisco,94133,United States,None
91,11 Madison Ave.,New York,10010,United States,None
92,10 Columbus Circle,New York,10019,United States,None
93,10 Columbus Circle,New York,10019,United States,None
94,155 W. 51st St.,New York,10019,United States,None
95,431 W. 37th St.,New York,10018,United States,None
96,1723 N. Halsted St.,Chicago,60614,United States,None
97,309 Middle St.,Washington,22747,United States,None
400,5600 CA-1,Elk,95432,United States,None
401,3599 Hayden Ave.,Culver City,90232,United States,None
402,5955 Melrose Ave.,Hollywood,90038,United States,None
403,609 N. La Cienega Blvd.,West Hollywood,90069,United States,None
404,5200 Grand Del Mar Way,San Diego,92130,United States,None
405,3859 Piedmont Ave.,Oakland,94611,United States,None
406,1104 Wilshire Blvd.,Santa Monica,90401,United States,None
407,1320 E. 7th St.,Ste. 126,Los Angeles,90021,United States
408,3455 S. Overland Ave.,Los Angeles,90034,United States,None
409,3416 19th St.,San Francisco,94110,United States,None
410,1085 Mission St.,San Francisco,94103,United States,None
411,178 Townsend St.,San Francisco,94107,United States,None
412,340 Stockton St.,San Francisco,94108,United States,None
413,1722 Sacramento St.,San Francisco,94109,United States,None
414,373 Broadway,San Francisco,94133,United States,None
415,355 11th St.,San Francisco,94103,United States,None
445,9 W. 53rd St.,New York,10019,United States,None
446,630 Bedford Rd.,Tarrytown,10591,United States,None
447,8 Extra Pl.,New York,10003,United States,None
448,104 E. 30th St.,New York,10016,United States,None
449,77 Worth St.,New York,10013,United States,None
450,1 Central Park West,New York,10023,United States,None
451,261 Moore St.,New York,11206,United States,None
452,2 Harrison St.,New York,10013,United States,None
453,41 W. 42nd St.,New York,10036,United States,None
454,47 S. 5th St.,New York,11249,United States,None
455,85 Tenth Ave.,New York,10011,United States,None
456,60 E. 65th St.,New York,10065,United States,None
457,65 E. 55th St.,New York,10022,United States,None
458,661 W. Walnut St.,Chicago,60661,United States,None
459,177 N. Ada St.,Chicago,60607,United States,None
460,1340 W. Fulton Market,Chicago,60607,United States,None
461,2515 S. Wabash Ave.,Chicago,60616,United States,None
462,1906 14th St. NW,Washington,20009,United States,None
463,715 8th St. SE,Washington,20003,United States,None
464,855 E St. NW,Washington,20004,United States,None
2098,3001 El Camino Real,Atherton,94061,United States,None
2099,14555 Big Basin Way,Saratoga,95070,United States,None
2100,209 Park Rd.,Burlingame,94010,United States,None
2101,2967 Woodside Rd.,Woodside,94062,United States,None
2102,16101 Ventura Blvd.,Ste.250,Encino,91436,United States
2103,16573 Ventura Blvd.,Encino,91436,United States,None
2104,1614 Alum Rock Ave.,San Jose,95116,United States,None
2105,1339 Pearl St.,Napa,94559,United States,None
2106,1314 McKinstry St.,Napa,94559,United States,None
2107,180 Rutherford Hill Rd.,Rutherford,94573,United States,None
2108,312 Arguello St.,Redwood City,94063,United States,None

In [54]:
# these are the restaurants where the address is messed up because of the "Ste."
address_df.loc[address_df['City'].str.contains('Ste.')]

,Street,City,Zip,Country,Other
407,1320 E. 7th St.,Ste. 126,Los Angeles,90021,United States
2102,16101 Ventura Blvd.,Ste.250,Encino,91436,United States
2116,9055 Las Tunas Dr.,Ste. 105,Temple City,91780,United States
2160,2225 Hurley Way,Ste. 101,Sacramento,95825,United States
2161,3313 Hyland Blvd.,Ste. C21,Costa Mesa,92626,United States
2162,3333 S. Bristol St.,Ste. 3001,Costa Mesa,92626,United States
4945,1875 S. Bascom Ave.,Ste.190,Campbell,95008,United States
4952,9892 Westminster Blvd.,Ste.311,Garden Grove,92844,United States
4979,2222 Michelson Dr.,Ste. 234,Irvine,92612,United States
4987,1805 Cirby Way,Ste. 12,Roseville,95661,United States
5028,301 W. Valley Blvd.,Ste. 114,San Gabriel,91776,United States
5041,108 W. 2nd St.,Ste. 104,Los Angeles,90012,United States
5056,1300 Factory Pl.,Ste. 101,Los Angeles,90013,United States